@model QLKS.Domain.VATTU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VATTU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHONG.ma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONG.ma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaymua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaymua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysudung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysudung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sotien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sotien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
