@model LoaiPhongModel
@Html.AntiForgeryToken()

<div class="form-group row">
    @Html.LabelFor(model => model.ma, "Mã loại phòng:", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        <input name="ma" hidden value="@Model.ma" />
        <input id="ma" class="form-control  disabled" disabled value="@Model.ID" />
        @Html.ValidationMessageFor(model => model.ma, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.tenloaiphong, "Tên loại phòng:", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.tenloaiphong, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.tenloaiphong, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.nguoilon, "Số người lớn", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.nguoilon, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.nguoilon, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.trecon, "Số trẻ con", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.trecon, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.trecon, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.khungnhin, "Khung nhìn", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.khungnhin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.khungnhin, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.giuong, "Số giường", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-2">
        @Html.EditorFor(model => model.giuong, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.giuong, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.dientich, "Diện tích", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
    <div class="col-md-1">
        @Html.EditorFor(model => model.dientich, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.dientich, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(model => model.ghichu, "Ghi chú", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.ghichu, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ghichu, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.thongtin, "Thông tin", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.thongtin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.thongtin, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group row">
    <label class="col-md-2 control-label text-right">
        Ảnh
    </label>
    <div class="custom-file col-md-6 form-control" style="margin-left: 10px" id="customFile">
        <input type="file" name="UploadImage" class="custom-file-input" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])" id="fileInput" aria-describedby="fileHelp" value="@Model.anh">
        <label class="custom-file-label" for="fileInput">
            Tải ảnh lên
        </label>
    </div>

</div>
<div class="form-group row">
    <div class="col-md-2"></div>
    <img id="preview" width="150" height="150" style="margin-left: 10px" src="~/Content/imgLoaiPhong/@Model.anh" />
</div>


@section scripts{

    <script>

        function changePreview() {
            var img = document.getElementById("preview");
            img.src = window.URL.createObjectURL(this.files[0])
        }

        function changeColor() {
            imageLabel.style.background = "red";
            imageLabel.style.color = "white";
        }
        $(document).ready(function () {
            $("#imageLabel").on("hover", function () {
                this.style.background = "red";
                this.style.color = "white";
            })

        })

    </script>
}
