@model LoaiPhongModel
@Html.AntiForgeryToken()

<div class="form-group row">
    @Html.LabelFor(model => model.Ma, "Mã loại phòng:", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        <input name="ma" hidden value="@Model.Ma" />
        <input id="ma" class="form-control  disabled" disabled value="@Model.Ma" />
        @Html.ValidationMessageFor(model => model.Ma, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.Ten, "Tên loại phòng:", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.SoNguoiLon, "Số người lớn", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.SoNguoiLon, new { htmlAttributes = new { @class = "form-control", @value = "0" } })
        @Html.ValidationMessageFor(model => model.SoNguoiLon, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.SoTreEm, "Số trẻ em", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required", @value = "0" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.SoTreEm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SoTreEm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.SoGiuongDoi, "Số giường đôi", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.SoGiuongDoi, new { htmlAttributes = new { @class = "form-control", @value = "0" } })
        @Html.ValidationMessageFor(model => model.SoGiuongDoi, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.SoGiuongDon, "Số giường đơn", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.SoGiuongDon, new { htmlAttributes = new { @class = "form-control", @value = "0" } })
        @Html.ValidationMessageFor(model => model.SoGiuongDon, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.ThongTin, "Thông tin", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.ThongTin, new { htmlAttributes = new { @class = "form-control", @value = "" } })
        @Html.ValidationMessageFor(model => model.ThongTin, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.GiaThue, "Giá thuê", htmlAttributes: new { @class = "control-label col-md-2 text-right text-required" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.GiaThue, new { htmlAttributes = new { @class = "form-control", @value = "0" } })
        @Html.ValidationMessageFor(model => model.GiaThue, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group row">
    <label class="col-md-2 control-label text-right">
        Ảnh
    </label>
    <div class="custom-file col-md-6 form-control" style="margin-left: 10px" id="customFile">
        <input type="file" name="UploadImage" class="custom-file-input" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])" id="fileInput" aria-describedby="fileHelp" value="@Model.AnhDaiDien">
        <label class="custom-file-label" for="fileInput">
            Tải ảnh lên
        </label>
    </div>

</div>
<div class="form-group row">
    <div class="col-md-2"></div>
    <img id="preview" width="150" height="150" style="margin-left: 10px" src="~/Content/imgLoaiPhong/@Model.AnhDaiDien" />
</div>


@section scripts{

    <script>

        function changePreview() {
            var img = document.getElementById("preview");
            img.src = window.URL.createObjectURL(this.files[0])
        }

        function changeColor() {
            imageLabel.style.background = "red";
            imageLabel.style.color = "white";
        }
        $(document).ready(function () {
            $("#imageLabel").on("hover", function () {
                this.style.background = "red";
                this.style.color = "white";
            })

        })

    </script>
}
