@model ChiTietThuePhongModel

@{
    string guid = Guid.NewGuid().ToString().Replace("-", "");
}
<div class="chitiet" id="chitiet_@guid" data-guid="@guid">
    <div class="btn float-right" data-guid="@guid" style="color:#e53935; margin-top: 10px;" onclick="xoaDivChiTiet('@guid')"><i class="fas fa-minus-circle"></i></div>
    <div class="form-group row" style="padding-top: 2px">
        <div class="dropdown-divider" style="width:100%"></div>
        <div class="col-sm-3">
            <label class="text-sm-left text-required">Chọn loại phòng</label>
            <select id="loaiphong_@guid" name="loaiphong_id" class="form-control" required title="Vui lòng chọn loại phòng">
                @foreach (var lp in Model.DanhSachLoaiPhong)
                {
                    if (lp.Selected == true)
                    {
                        <option value="@lp.Value" selected>@lp.Text</option>
                    }
                    else
                    {
                        <option value="@lp.Value">@lp.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-3">
            <label class="text-sm-left text-required">Chọn phòng trống</label>
            <select id="phong_@guid" name="phong_id" class="form-control" required title="Vui lòng chọn phòng">
                @foreach (var p in Model.DanhSachPhong)
                {
                    if (p.Selected == true)
                    {
                        <option value="@p.Value" selected>@p.Text</option>
                    }
                    else
                    {
                        <option value="@p.Value">@p.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <label class="text-sm-left text-required">Ngày vào</label>
            <input id="ngayvao_@guid" class="form-control datepicker-here" data-position="top center" data-language="vi" placeholder="--Chọn ngày vào--" required title="Vui lòng chọn ngày" />
        </div>
        <div class="col-sm-2">
            <label class="text-sm-left text-required">Ngày ra</label>
            <input id="ngayra_@guid" class="form-control datepicker-here" data-position="top center" data-language="vi" placeholder="--Chọn ngày ra--" required title="Vui lòng chọn ngày" />
        </div>
        <div class="col-sm-2">
            <label class="text-sm-left text-required">Giá </label>
            <input class="form-control disabled" disabled id="gia_@guid" />
        </div>
    </div>
</div>

<script>

    $("#loaiphong_" + '@guid').on('change', function () {
        $("#phong_@guid").empty();
        var _data = {
            loaiphong: $(this).find('option:selected').val()
        }
        $.ajax({
            url: '/Phong/GetPhongTrongFromLoaiPhong',
            type: 'POST',
            data: _data,
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    $("#phong_@guid").append("<option value=" + data[i].ID + ">" + data[i].ma + "</option>");
                }
                $("#phong_@guid").change()
            }
        });
    });

    $("#phong_@guid").change(function () {
        $("#gia_@guid").val(0);
            var _data = {
                phong: $(this).find('option:selected').val()
            }
        $.ajax({
            url: '/Phong/GetGiaPhong',
            type: 'POST',
            data: _data,
            success: function (data) {
                //giá 1 đêm
                var nvao = moment($("#ngayvao_@guid").val(), "MM-DD-YYYY");
                var nra = moment($("#ngayra_@guid").val(), "MM-DD-YYYY");
                var g = Math.abs(data * nra.diff(nvao, 'days',true));
                    $("#gia_@guid").val(toVND(g));
                }
            });

    })

        $("#ngayvao_@guid").change(function () {
        $("#gia_@guid").val(0);
            var _data = {
                phong: $("#phong_@guid").find('option:selected').val()
            }
        $.ajax({
            url: '/Phong/GetGiaPhong',
            type: 'POST',
            data: _data,
            success: function (data) {
                var nvao = moment($("#ngayvao_@guid").val(), "MM-DD-YYYY");
                var nra = moment($("#ngayra_@guid").val(), "MM-DD-YYYY");
                var g = Math.abs(data * nra.diff(nvao, 'days',true));
                    $("#gia_@guid").val(toVND(g));
                }
            });
        })

    $("#ngayra_@guid").change(function () {
        $("#gia_@guid").val(0);
            var _data = {
                phong: $("#phong_@guid").find('option:selected').val()
            }
        $.ajax({
            url: '/Phong/GetGiaPhong',
            type: 'POST',
            data: _data,
            success: function (data) {
                var nvao = moment($("#ngayvao_@guid").val(), "MM-DD-YYYY");
                var nra = moment($("#ngayra_@guid").val(), "MM-DD-YYYY");
                var g = Math.abs(data * nra.diff(nvao, 'days', true));
                    $("#gia_@guid").val(toVND(g));
                }
            });
        })
    $('.datepicker-here').datepicker({
        onSelect: function (formattedDate, date, inst) {
            $(inst.el).trigger('change');
        }
    });
    $('.datepicker-here').datepicker({
        language: 'vi'
    })
</script>


@if (Model.ngayra != null)
{
<script>
    var ngayVao = $("#ngayvao_@guid").datepicker().data('datepicker').selectDate(new Date(@Model.ngayvao.Value.Year, @Model.ngayvao.Value.Month, @Model.ngayvao.Value.Day));
    var ngayRa = $("#ngayra_@guid").datepicker().data('datepicker').selectDate(new Date(@Model.ngayra.Value.Year, @Model.ngayra.Value.Month, @Model.ngayra.Value.Day));
    var nv = new Date(@Model.ngayvao.Value.Year, @Model.ngayvao.Value.Month, @Model.ngayvao.Value.Day);
    var nr = new Date(@Model.ngayra.Value.Year, @Model.ngayra.Value.Month, @Model.ngayra.Value.Day)
    var giatien = @Model.gia * (nr.getTime() - nv.getTime())/(1000 * 3600 * 24); 
    var gia = toVND(soNgay);
    $("#gia_@guid").val(gia);
</script>
}