@model ThuePhongModel

@Html.AntiForgeryToken()

<div class="form-group row">
    @Html.LabelFor(model => model.ma, "Mã phiếu thuê:", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-3">
        <input name="ma" hidden value="@Model.ma" />
        <input id="ma" class="form-control disabled" disabled value="@Model.ma" />
        @Html.ValidationMessageFor(model => model.ma, "", new { @class = "text-danger" })
    </div>
</div>
<br class="dropdown-divider" />
<div class="dropdown-divider"></div>
<h5>Thông tin khách đặt phòng</h5>
<br />
<input id="khachhang_id" type="hidden" value="@Model.KHACHHANG_ID" />


<div class="form-group row">
    <label class="control-label col-md-2 text-right text-required">Tên khách hàng:</label>
    <div class="col-md-3">
        @Html.EditorFor(model => model.tenkhachhang, new { htmlAttributes = new { @class = "form-control", @required = true, @title = "Tên khách hàng không được để trống" } })
        @*<input class="form-control" name="tenkhachhang" id="tenkhachhang" required title="Tên khách hàng không được để trống" />*@
        @Html.ValidationMessageFor(model => model.tenkhachhang, "", new { @class = "text-danger" })
    </div>
    <label class="control-label col-md-1 text-right text-required">Số CMT</label>
    @Html.EditorFor(model => model.socmt, new { htmlAttributes = new { @class = "form-control col-md-3", @required = true, @title = "Số CMT không được để trống" } })
    @Html.ValidationMessageFor(model => model.socmt, "", new { @class = "text-danger" })
</div>
<div class="form-group row">
    <label class="control-label col-md-2 text-right text-required">Số điện thoại:</label>
    <div class="col-md-3">
        @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control", @required = true, @title = "SDT không được để trống" } })
        @*<input class="form-control" name="sdt" id="sdt" required title="SDT không được để trống" />*@
        @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3"></div>
</div>
<br />
<div class="dropdown-divider"></div>
<h5 style="display: inline-block">Thông tin hệ thống</h5>
<div id="updateStats" class="float-right btn"><i class="fas fa-sync-alt"></i></div>
<br />
<br />

<div class="form-group row">
    <div class="col-md-3">
        <div class="card card-shadow-2 card-hover text-white bg-success">
            <div class="card-header font-weight-bold">Số phòng trống <i class="far fa-check-circle"></i></div>
            <div class="card-body">
                <h2 id="phongtrong" class="card-title text-center"></h2>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-shadow-2 card-hover text-white bg-warning">
            <div class="card-header font-weight-bold">Số phòng đã đặt trước <i class="far fa-calendar-alt"></i></div>
            <div class="card-body">
                <h2 id="phongdattruoc" class="card-title text-center"></h2>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-shadow-2 card-hover text-white bg-info">
            <div class="card-header font-weight-bold">Số phòng bẩn <i class="fas fa-exclamation-circle"></i></div>
            <div class="card-body">
                <h2 id="phongban" class="card-title text-center"></h2>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-shadow-2 card-hover text-white bg-danger">
            <div class="card-header font-weight-bold">Số phòng đã thuê <i class="far fa-times-circle"></i></div>
            <div class="card-body">
                <h2 id="phongdangsudung" class="card-title text-center"></h2>
                <p class="card-text"></p>
            </div>
        </div>
    </div>

</div>
<br class="dropdown-divider" />
<div class="dropdown-divider"></div>
<h5 style="display: inline-block">Chi tiết thuê phòng</h5>
<div id="addNewChiTiet" class="btn btn-outline-info float-right">Thêm mới</div>
<br />

<div id="danhsachchitiet" style="padding-top: 10px;">

</div>

<br class="dropdown-divider" />
<div class="dropdown-divider"></div>
<h5 style="display: inline-block">Sử dụng dịch vụ</h5>
<div id="addNewDichVu" class="btn btn-outline-info float-right">Thêm mới</div>
<br />

<div id="danhsachsudungdichvu" style="padding-top: 10px;">

</div>

<script>
    var soPhongTrong;
    $.ajax({
        type: "POST",
        url: "/Phong/ThongKePhong",
        success: function (data) {
            $("#phongban").text(data.phongban);
            $("#phongtrong").text(data.phongtrong);
            $("#phongdangsudung").text(data.phongdangsudung);
            $("#phongdattruoc").text(data.phongdattruoc);
            soPhongTrong = data.phongtrong;
        }
    })
    $("#updateStats").on("click", function () {
        $.ajax({
            type: "POST",
            url: "/Phong/ThongKePhong",
            success: function (data) {
                $("#phongban").text(data.phongban);
                $("#phongtrong").text(data.phongtrong);
                $("#phongdangsudung").text(data.phongdangsudung);
                $("#phongdattruoc").text(data.phongdattruoc);
                soPhongTrong = data.phongtrong;
            }
        })

    })

    function xoaDivChiTiet(guid) {
        $("#chitiet_" + guid).remove();
    }

    function xoaDivDichVu(guid) {
        $("#chitietdichvu_" + guid).remove();
    }
</script>

<script>

    $("#addNewChiTiet").on("click", function () {
        if (soPhongTrong != null) {
            var soDiv = $(".chitiet").length;
            if (soPhongTrong != 0) {
                $.ajax({
                    type: "GET",
                    url: "/ThuePhong/_AddNewChiTietThue",
                    success: function (data) {
                        $("#danhsachchitiet").append(data);
                    }
                });
            } else {
                $("#customToastMessage").text("Không còn phòng trống");
                $('#customToast').toast('show')
            }
        }
        $("#updateStats").click();
    })

    $("#addNewDichVu").on("click", function () {
        $.ajax({
            type: "GET",
            url: "/ThuePhong/_AddNewSuDungDichVu",
            success: function (data) {
                $("#danhsachsudungdichvu").append(data);
            }
        });

    })

</script>

@*remember to prepare chitietthuephong*@
@if (Model.ChiTietThuePhong.Count == 0)
{
    <script>
        $(document).ready(function () {
            if (soPhongTrong != null) {
                if (soPhongTrong != 0) {
                    $("#addNewChiTiet").click();
                }
            }
        })
    </script>
}
else
{
    foreach (var ct in Model.ChiTietThuePhong)
    {
        <script>
            $.ajax({
                type: "GET",
                url: "/ThuePhong/_AddNewChiTietThue?phong=@ct.phong_id&thuephong=@ct.THUEPHONG_ID",
                success: function (data) {
                    $("#danhsachchitiet").append(data);
                }
            });
        </script>
    }
}


@if (Model.ChiTietDichVu.Count == 0)
{
    <script>
        $(document).ready(function () {
            $("#addNewDichVu").click();
        })
    </script>
}
else
{
    foreach (var ct in Model.ChiTietDichVu)
    {
        <script>
            $.ajax({
                type: "GET",
                url: "/ThuePhong/_AddNewSuDungDichVu?dichvu=@ct.DICHVU_ID&thuephong=@ct.THUEPHONG_ID",
                success: function (data) {
                    $("#danhsachsudungdichvu").append(data);
                }
            });
        </script>
    }
}




