@model IEnumerable<QLKS.Domain.LOAIPHONG>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="content" role="main" class="content-area">


	<div class="slider-wrapper relative " id="slider-753658763">
		<div class="slider slider-nav-dots-square slider-nav-simple slider-nav-large slider-nav-dark slider-style-normal slider-show-nav"
			 data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": false,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'>
			<div class="banner has-hover" id="banner-98454872">
				<div class="banner-inner fill">
					<div class="banner-bg fill">
						<div class="bg fill bg-fill "></div>

						<div class="effect-sparkle bg-effect fill no-click"></div>
					</div><!-- bg-layers -->
					<div class="banner-layers container">
						<div class="fill banner-link"></div>
					</div><!-- .banner-layers -->
				</div><!-- .banner-inner -->


				<style scope="scope">
					#banner-98454872 {
						padding-top: 240px;
					}

						#banner-98454872 .bg.bg-loaded {
							background-image: url('../../Assets/User/wp-content/uploads/2019/02/banner-homestay-1.jpg');
						}

					#banner-98454872 {
						padding-top: 360px;
					}


					#banner-98454872 {
						padding-top: 500px;
					}
				</style>
			</div><!-- .banner -->



			<div class="banner has-hover" id="banner-527422903">
				<div class="banner-inner fill">
					<div class="banner-bg fill">
						<div class="bg fill bg-fill "></div>

						<div class="effect-sparkle bg-effect fill no-click"></div>
					</div><!-- bg-layers -->
					<div class="banner-layers container">
						<div class="fill banner-link"></div>
					</div><!-- .banner-layers -->
				</div><!-- .banner-inner -->


				<style scope="scope">
					#banner-527422903 {
						padding-top: 240px;
					}

						#banner-527422903 .bg.bg-loaded {
							background-image: url('../../Assets/User/wp-content/uploads/2019/02/banner-homestay-2.jpg');
						}

					#banner-527422903 {
						padding-top: 360px;
					}

					#banner-527422903 {
						padding-top: 500px;
					}
				</style>
			</div><!-- .banner -->


		</div>

		<div class="loading-spin dark large centered"></div>

		<style scope="scope">
		</style>
	</div><!-- .ux-slider-wrapper -->


	<section class="section form-searh-home" id="section_1023370565">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="row pb-0" id="row-1761150395">
				<div class="col pb-0 medium-12 small-12 large-3">
					<div class="col-inner">
						<h2>TÌM KIẾM PHÒNG NHANH</h2>
					</div>
				</div>
				<div class="col pb-0 medium-12 small-12 large-9">
					<div class="col-inner">
						<div class="gembooking-block gembooking-block--check_form">
							<form action="DatPhong" method="GET" role="search" novalidate>

								<div class="searchbox searchbox--horizontal">
									<div class="searchbox__wrap">
										<div class="searchbox__box searchbox__box--checkin">
											<div class="searchbox__box-wrap">
												<div class="searchbox__box-line">
													<label class="searchbox__box-label"><span>Ngày đến</span></label>

													<div class="searchbox__box-input">
														<input type="text" readonly data-bind="value: checkInFormatted()" class="searchbox__input searchbox__input--checkin input-transparent" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" autocomplete="off" aria-haspopup="true">
														<input type="hidden" data-bind="value: checkInDate" name="check_in" value="@DateTime.Now.ToString("yyyy-MM-dd")">
													</div>
												</div>
											</div>
										</div>

										<div class="searchbox__box searchbox__box--checkout">
											<div class="searchbox__box-wrap">
												<div class="searchbox__box-line">
													<label class="searchbox__box-label"><span>Ngày đi</span></label>

													<div class="searchbox__box-input">
														<input type="text" readonly data-bind="value: checkOutFormatted()" class="searchbox__input searchbox__input--checkout input-transparent" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" autocomplete="off" aria-haspopup="true">
														<input type="hidden" data-bind="value: checkOutDate" name="check_out" value="@DateTime.Now.ToString("yyyy-MM-dd")">
													</div>
												</div>
											</div>
										</div>
										<div class="searchbox__box searchbox__box--occupancy">
											<div class="searchbox__box-wrap">
												<div class="searchbox__box-line">
													<label class="searchbox__box-label">
														<span>Khách hàng</span>
													</label>

													<div class="searchbox__box-input searchbox-occupancy-info">
														<span class="searchbox-occupancy-info__item">
															<span class="searchbox-occupancy-info__number" data-bind="text: adults">1</span>
															người lớn
														</span>

														<span class="searchbox-occupancy-info__item">
															<span class="searchbox-occupancy-info__number" data-bind="text: children">0</span>
															trẻ em
														</span>

													</div>
												</div>
											</div>

											<div class="searchbox__popup">
												<div class="searchbox__popup-item searchbox__popup-item--adults">
													<label>
														<span>Người lớn</span>
														<input type="number" name="adults" data-bind="value: adults" min="1" max="6" value="1" class="searchbox__input form-input-transparent" />
													</label>
												</div>

												<div class="searchbox__popup-item searchbox__popup-item--children">
													<label>
														<span>Trẻ em</span>
														<input type="number" name="children" data-bind="value: children" min="0" max="6" value="0" class="searchbox__input form-input-transparent" />
													</label>
												</div>

											</div>
										</div>
										<div class="searchbox__box searchbox__box--button">
											<div class="searchbox__box-wrap">
												<button type="submit" class="button button--primary searchbox__submit">Sẵn sàng kiểm tra</button>
											</div>
										</div>
									</div><!-- /.searchbox__wrapper-->

								</div><!-- /.searchbox-->
							</form>
						</div>
					</div>
				</div>

				<style scope="scope">
				</style>
			</div>
		</div><!-- .section-content -->


		<style scope="scope">
			#section_1023370565 {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		</style>
	</section>

	<section class="section pb-0 index-0" id="section_603993864">

		<div class="bg section-bg fill bg-fill  bg-loaded">

		</div><!-- .section-bg -->
		<div class="section-content relative">

			<div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"></div>
			<div class="row align-center" id="row-1781573656">
				<div class="col small-12 large-12">
					<div class="col-inner text-center">
						<h2>Hệ thống phòng</h2>
					</div>
				</div>

				<style scope="scope">
				</style>
			</div>
			<div class="row" id="row-1881367991">
				<div class="col small-12 large-12">
					<div class="col-inner">

						<div class="row large-columns-3 medium-columns-2 small-columns-1 row-normal">
							@foreach (var item in Model)
							{
								<div class="col room-item">
									<div class="gembooking-room">
										<a href="~/Home/Details?id=@item.ID">
											<div class="box-image">
												<div class="image-cover" style="padding-top:70%;">
													<img width="1020" height="680" src="~/Content/imgLoaiPhong/@item.anh" class="attachment-large size-large wp-post-image" sizes="(max-width: 1020px) 100vw, 1020px" />
												</div>
											</div><!-- .box-image -->

											<div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
												<div class="box-text-inner blog-post-inner">
													<h5 class="post-title is-large ">@item.tenloaiphong</h5>
													<p class="room__price">
														Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount"> @String.Format("{0:0,0}", item.ma) </span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
													</p>
												</div><!-- .box-text-inner -->
											</div><!-- .box-text -->
										</a>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div><!-- .section-content -->
		<style scope="scope">
			#section_603993864 {
				padding-top: 30px;
				padding-bottom: 30px;
				background-color: rgb(248, 249, 250);
			}
		</style>
	</section>

	<section class="section pb-0" id="section_1785263223">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="gap-element" style="display:block; height:auto; padding-top:30px" ></div>
			<div class="row align-middle align-center" id="row-617174076">
				<div class="col medium-6 small-12 large-6">
					<div class="col-inner">
						<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_2049413117">
							<div class="img-inner dark">
								<img width="518" height="598" src="~/Assets/User/wp-content/uploads/2019/05/about.jpg" class="attachment-large size-large" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/05/about.jpg 518w, https://hotel.sonqb.com/wp-content/uploads/2019/05/about-260x300.jpg 260w" sizes="(max-width: 518px) 100vw, 518px" />
							</div>

							<style scope="scope">
								#image_2049413117 {
									width: 100%;
								}
							</style>
						</div>

					</div>
				</div>
				<div class="col medium-6 small-12 large-6">
					<div class="col-inner text-center">
						<h2 style="text-align: center;">GIỚI THIỆU KHÁCH SẠN HILLTER</h2>
						<p style="text-align: center;"><span style="font-size: 110%;"><strong>Chúng tôi gọi nơi này là nhà, nơi tình bạn bắt đầu dù bạn đến từ đâu trên thế giới, có quốc tịch và màu gia ra sao.</strong></span></p>
						<p style="text-align: center;">Chúng tôi yêu thiên nhiên, yêu sự khác biệt, yêu con người, yêu những nét văn hóa truyền thống và yêu tâm hồn bạn. Hãy đến với chúng tôi để cảm nhận sự trọn vẹn về một Đà Nẵng thân thiện, mến khách, để sống cùng nhau trong vùng âm nhạc tuyệt vời</p>
						<a class="button primary lowercase">
							<span>Xem thêm</span>
							<i class="icon-angle-right"></i>
						</a>

					</div>
				</div>

				<style scope="scope">
				</style>
			</div>
		</div><!-- .section-content -->


		<style scope="scope">
			#section_1785263223 {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		</style>
	</section>

	<section class="section section-dichvu" id="section_1103400085">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="row align-middle align-center" id="row-1764863035">
				<div class="col medium-6 small-12 large-6">
					<div class="col-inner text-center">
						<h2>Dịch vụ &amp; tiện ích</h2>
						<p style="text-align: center;">Một trong những khách sạn được yêu thích nhất ở Đà Lạt, Hotel Hilter được công nhận là một trong những khách sạn hàng đầu của Việt Nam, với lòng hiếu khách của hòn đảo duyên dáng, tiện nghi chu đáo và đặc sắc.</p>
						<div class="row text-center" id="row-1623541721">
							<div class="col medium-4 small-4 large-4">
								<div class="col-inner">

									<div class="icon-box featured-box icon-box-center text-center">
										<div class="icon-box-img" style="width: 70px">
											<div class="icon">
												<div class="icon-inner">
													<img width="128" height="128" src="~/Assets/User/wp-content/uploads/2019/02/009-minibar.png" class="attachment-medium size-medium" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/009-minibar.png 128w, https://hotel.sonqb.com/wp-content/uploads/2019/02/009-minibar-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px" />
												</div>
											</div>
										</div>
										<div class="icon-box-text last-reset">

											<h4>Minibar</h4>
										</div>
									</div><!-- .icon-box -->


								</div>
							</div>
							<div class="col medium-4 small-4 large-4">
								<div class="col-inner">

									<div class="icon-box featured-box icon-box-center text-center">
										<div class="icon-box-img" style="width: 70px">
											<div class="icon">
												<div class="icon-inner">
													<img width="128" height="128" src="~/Assets/User/wp-content/uploads/2019/02/003-washing-machine.png" class="attachment-medium size-medium" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/003-washing-machine.png 128w, https://hotel.sonqb.com/wp-content/uploads/2019/02/003-washing-machine-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px" />
												</div>
											</div>
										</div>
										<div class="icon-box-text last-reset">

											<h4>Giặt là</h4>
										</div>
									</div><!-- .icon-box -->


								</div>
							</div>
							<div class="col medium-4 small-4 large-4">
								<div class="col-inner">

									<div class="icon-box featured-box icon-box-center text-center">
										<div class="icon-box-img" style="width: 70px">
											<div class="icon">
												<div class="icon-inner">
													<img width="128" height="128" src="~/Assets/User/wp-content/uploads/2019/02/002-air-conditioner.png" class="attachment-medium size-medium" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/002-air-conditioner.png 128w, https://hotel.sonqb.com/wp-content/uploads/2019/02/002-air-conditioner-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px" />
												</div>
											</div>
										</div>
										<div class="icon-box-text last-reset">

											<h4>Điều hòa</h4>
										</div>
									</div><!-- .icon-box -->


								</div>
							</div>
							<div class="col medium-4 small-4 large-4">
								<div class="col-inner">

									<div class="icon-box featured-box icon-box-center text-center">
										<div class="icon-box-img" style="width: 70px">
											<div class="icon">
												<div class="icon-inner">
													<img width="128" height="128" src="~/Assets/User/wp-content/uploads/2019/02/008-scooter.png" class="attachment-medium size-medium" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/008-scooter.png 128w, https://hotel.sonqb.com/wp-content/uploads/2019/02/008-scooter-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px" />
												</div>
											</div>
										</div>
										<div class="icon-box-text last-reset">

											<h4>Cho thuê xe máy</h4>
										</div>
									</div><!-- .icon-box -->


								</div>
							</div>
							<div class="col medium-4 small-4 large-4">
								<div class="col-inner">

									<div class="icon-box featured-box icon-box-center text-center">
										<div class="icon-box-img" style="width: 70px">
											<div class="icon">
												<div class="icon-inner">
													<img width="128" height="128" src="~/Assets/User/wp-content/uploads/2019/02/004-dinner.png" class="attachment-medium size-medium" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/004-dinner.png 128w, https://hotel.sonqb.com/wp-content/uploads/2019/02/004-dinner-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px" />
												</div>
											</div>
										</div>
										<div class="icon-box-text last-reset">

											<h4>Điểm tâm sáng</h4>
										</div>
									</div><!-- .icon-box -->


								</div>
							</div>
							<div class="col medium-4 small-4 large-4">
								<div class="col-inner">

									<div class="icon-box featured-box icon-box-center text-center">
										<div class="icon-box-img" style="width: 70px">
											<div class="icon">
												<div class="icon-inner">
													<img width="128" height="128" src="~/Assets/User/wp-content/uploads/2019/02/007-wifi.png" class="attachment-medium size-medium" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/007-wifi.png 128w, https://hotel.sonqb.com/wp-content/uploads/2019/02/007-wifi-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px" />
												</div>
											</div>
										</div>
										<div class="icon-box-text last-reset">

											<h4>Wifi phủ sóng</h4>
										</div>
									</div><!-- .icon-box -->


								</div>
							</div>

							<style scope="scope">
							</style>
						</div>
					</div>
				</div>
				<div class="col medium-6 small-12 large-6">
					<div class="col-inner">
						<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_675094186">
							<div class="img-inner dark">
								<img width="520" height="600" src="~/Assets/User/wp-content/uploads/2019/05/listicon-520x600.jpg" class="attachment-large size-large" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/05/listicon-520x600.jpg 520w, https://hotel.sonqb.com/wp-content/uploads/2019/05/listicon-520x600-260x300.jpg 260w" sizes="(max-width: 520px) 100vw, 520px" />
							</div>

							<style scope="scope">
								#image_675094186 {
									width: 100%;
								}
							</style>
						</div>

					</div>
				</div>

				<style scope="scope">
				</style>
			</div>
		</div><!-- .section-content -->


		<style scope="scope">
			#section_1103400085 {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		</style>
	</section>

	<section class="section section-video" id="section_540875716">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="nl-video-popup">
				<a href="https://youtu.be/f5RlT73Rf5E" class="html5lightbox open-video image-play">
					<span class="icon-wrap">
						<i class="icon icon-play"></i>
					</span>
					<img width="1920" height="520" src="~/Assets/User/wp-content/uploads/2019/05/video.jpg" class="attachment- size-" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/05/video.jpg 1920w, https://hotel.sonqb.com/wp-content/uploads/2019/05/video-300x81.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/05/video-768x208.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/05/video-1024x277.jpg 1024w" sizes="(max-width: 1920px) 100vw, 1920px" />
				</a>
			</div>

		</div><!-- .section-content -->


		<style scope="scope">
			#section_540875716 {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		</style>
	</section>

	<section class="section section-thuvienanh" id="section_1978004223">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="gap-element" style="display:block; height:auto; padding-top:30px" 0></div>
			<div class="row align-center" id="row-587745021">
				<div class="col small-12 large-12">
					<div class="col-inner text-center">
						<h2>Thư viện hình ảnh</h2>
					</div>
				</div>

				<style scope="scope">
				</style>
			</div>


			<div class="row large-columns-4 medium-columns-3 small-columns-2 row-xsmall">
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_3.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_3-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_3-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_3-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_3-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_3.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_2.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_2-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_2-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_2-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_2-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_2.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_1.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_1-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_1-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_1-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_1-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_1.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_4.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_4-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_5.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_5-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_5-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_5-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_5-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_5.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_6.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_6-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_6-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_6-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_6-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_6.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_4-1.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_4-1-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-1-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-1-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-1-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_4-1.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																																	 style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
				<div class="gallery-col col">
					<div class="col-inner">
						<a class="image-lightbox lightbox-gallery" href="~/Assets/User/wp-content/uploads/2019/02/img_7.jpg" title="">
							<div class="box has-hover gallery-box box-overlay dark">
								<div class="box-image image-cover" style="padding-top:0;">
									<img width="300" height="206" src="~/Assets/User/wp-content/uploads/2019/02/img_7-300x206.jpg" class="attachment-medium size-medium" alt="" ids="46,44,42,88,89,90,92,93" col_spacing="xsmall" columns__md="3" image_height="null" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/img_7-300x206.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_7-768x528.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_7-600x413.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/img_7.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" />                                  <div class="overlay fill"
																																																																																																																																																														   style="background-color: rgba(0,0,0,.15)">
									</div>
								</div><!-- .image -->
								<div class="box-text text-left">
									<p></p>
								</div><!-- .text -->
							</div><!-- .box -->
						</a>
					</div><!-- .col-inner -->
				</div><!-- .col -->
			</div>
			<div class="gap-element" style="display:block; height:auto; padding-top:30px" ></div>
		</div><!-- .section-content -->


		<style scope="scope">
			#section_1978004223 {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		</style>
	</section>

	<section class="section section-fanpage" id="section_1466502197">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="gap-element" style="display:block; height:auto; padding-top:30px" 0></div>
			<div class="row" id="row-1304834693">
				<div class="col small-12 large-12">
					<div class="col-inner text-center dark">
						<h2>Hơn 1.000 đánh giá tuyệt vời</h2>
					</div>
				</div>
				<div class="col pb-0 small-12 large-12">
					<div class="col-inner text-center">


						<div class="row ng-testimonials large-columns-3 medium-columns- small-columns-1 row-small slider row-slider slider-nav-circle slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>




							<div class="col">
								<div class="col-inner">
									<div class="testimonial-item box has-hover box-default box-text-bottom">
										<div class="box-icon">
											<img width="32" height="32" src="~/Assets/User/wp-content/themes/flatsome-child/images/left-quote.png" alt="Quote" />
										</div>
										<div class="box-text box-text-testimonials ">
											<p>Đầu tiên đây là <strong>khách sạn Đà Lạt đẹp</strong> nằm ở trung tâm thành phố Đà Lạt, gần chợ và bạn chỉ mất 10 đi bộ là có thể ra Hồ Xuân Hương đi dạo và ngắm cảnh – thắng cảnh nổi tiếng bậc nhất Đà Lạt.</p>
										</div><!-- box-text -->
										<div class="box-image">
											<img width="150" height="150" src="~/Assets/User/wp-content/uploads/2019/06/larissaann.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
										</div><!-- box-image -->
										<div class="box-title">
											Chị Red
										</div>
									</div><!-- box -->
								</div><!-- .col-inner -->
							</div><!-- col -->



							<div class="col">
								<div class="col-inner">
									<div class="testimonial-item box has-hover box-default box-text-bottom">
										<div class="box-icon">
											<img width="32" height="32" src="~/Assets/User/wp-content/themes/flatsome-child/images/left-quote.png" alt="Quote" />
										</div>
										<div class="box-text box-text-testimonials ">
											<p>Saigon Dalat Hotel là một trong <strong>những khách sạn đẹp và nổi tiếng ở Đà Lạt</strong> chỉ cách Dinh Bảo Đại khoảng 1 km và rất gần trung tâm chợ cũng như các địa điểm ngắm cảnh tuyệt đẹp như Hồ Xuân Hương, Hồ Tuyền Lâm, Thiền Viện Trúc Lâm hay vườn hoa thành phố,… vv Rất thuận tiện đúng không nào?</p>
										</div><!-- box-text -->
										<div class="box-image">
											<img width="150" height="150" src="~/Assets/User/wp-content/uploads/2019/06/caption.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
										</div><!-- box-image -->
										<div class="box-title">
											Anh Lee
										</div>
									</div><!-- box -->
								</div><!-- .col-inner -->
							</div><!-- col -->



							<div class="col">
								<div class="col-inner">
									<div class="testimonial-item box has-hover box-default box-text-bottom">
										<div class="box-icon">
											<img width="32" height="32" src="~/Assets/User/wp-content/themes/flatsome-child/images/left-quote.png" alt="Quote" />
										</div>
										<div class="box-text box-text-testimonials ">
											<p>Nói đến những khách sạn đẹp ở Đà Lạt có lẽ đầu tiên mình sẽ nhắc đến Khách sạn Dalat Palace Heritage Hotel bởi đây là một trong <strong>những khách sạn 5 sao Đà Lạt nổi tiếng</strong> với kiến trúc Pháp ấn tượng và sang trọng nằm ngay trung tâm thành phố có view nhìn ra Hồ Xuân Hương cực đỉnh.</p>
										</div><!-- box-text -->
										<div class="box-image">
											<img width="150" height="150" src="~/Assets/User/wp-content/uploads/2019/06/larissaann.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
										</div><!-- box-image -->
										<div class="box-title">
											Chị Bee
										</div>
									</div><!-- box -->
								</div><!-- .col-inner -->
							</div><!-- col -->


						</div>
					</div>
				</div>
			</div>
			<div class="gap-element" style="display:block; height:auto; padding-top:20px" 0></div>
		</div><!-- .section-content -->


		<style scope="scope">
			#section_1466502197 {
				padding-top: 30px;
				padding-bottom: 30px;
				background-color: rgb(95, 205, 245);
			}
		</style>
	</section>

	<section class="section section-tintuc pb-0" id="section_923066053">
		<div class="bg section-bg fill bg-fill  bg-loaded">





		</div><!-- .section-bg -->

		<div class="section-content relative">

			<div class="gap-element" style="display:block; height:auto; padding-top:30px" 0></div>
			<div class="row align-center" id="row-142921642">
				<div class="col small-12 large-12">
					<div class="col-inner text-center">
						<h2>Khám phá &#038; du lịch</h2>
					</div>
				</div>

				<style scope="scope">
				</style>
			</div>
			<div class="row pb-0" id="row-290006299">
				<div class="col pb-0 small-12 large-12">
					<div class="col-inner">


						<div class="row large-columns-3 medium-columns-2 small-columns-1 slider row-slider slider-nav-circle slider-nav-light slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>

							<div class="col post-item">
								<div class="col-inner">
									<a href="thu-gian-giua-phong-canh-huu-tinh-cua-suoi-hoa-da-nang/index.html" class="plain">
										<div class="box box-normal box-text-bottom box-blog-post has-hover">
											<div class="box-image">
												<div class="image-cover" style="padding-top:65%;">
													<img width="300" height="201" src="~/Assets/User/wp-content/uploads/2019/02/suoi-hoa11-300x201.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/suoi-hoa11-300x201.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/suoi-hoa11-600x403.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/suoi-hoa11.jpg 605w" sizes="(max-width: 300px) 100vw, 300px" />
												</div>
											</div><!-- .box-image -->
											<div class="box-text text-left">
												<div class="box-text-inner blog-post-inner">


													<h5 class="post-title is-large ">Thư giãn giữa phong cảnh hữu tình của Suối Hoa Đà Nẵng</h5>
													<div class="is-divider"></div>
													<p class="from_the_blog_excerpt ">Đường đi đến suối Hoa Đà Nẵng tuy không còn lạ lẫm gì với người dân địa phương...					</p>



												</div><!-- .box-text-inner -->
											</div><!-- .box-text -->
											<div class="badge absolute top post-date badge-square">
												<div class="badge-inner">
													<span class="post-date-day">12</span><br>
													<span class="post-date-month is-xsmall">Th2</span>
												</div>
											</div>
										</div><!-- .box -->
									</a><!-- .link -->
								</div><!-- .col-inner -->
							</div><!-- .col -->
							<div class="col post-item">
								<div class="col-inner">
									<a href="ba-na-hills-fantasy-park-noi-song-lai-nhung-nam-thang-tuoi-tho/index.html" class="plain">
										<div class="box box-normal box-text-bottom box-blog-post has-hover">
											<div class="box-image">
												<div class="image-cover" style="padding-top:65%;">
													<img width="300" height="194" src="~/Assets/User/wp-content/uploads/2019/02/1237-300x194.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/1237-300x194.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/1237-600x388.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/1237.jpg 650w" sizes="(max-width: 300px) 100vw, 300px" />
												</div>
											</div><!-- .box-image -->
											<div class="box-text text-left">
												<div class="box-text-inner blog-post-inner">


													<h5 class="post-title is-large ">Bà Nà Hills Fantasy Park &#8211; Nơi sống lại những năm tháng tuổi thơ</h5>
													<div class="is-divider"></div>
													<p class="from_the_blog_excerpt ">Khu vui chơi được chia làm 3 tầng, theo chân chàng trai trẻ Jules Verne và cô bạn...					</p>



												</div><!-- .box-text-inner -->
											</div><!-- .box-text -->
											<div class="badge absolute top post-date badge-square">
												<div class="badge-inner">
													<span class="post-date-day">12</span><br>
													<span class="post-date-month is-xsmall">Th2</span>
												</div>
											</div>
										</div><!-- .box -->
									</a><!-- .link -->
								</div><!-- .col-inner -->
							</div><!-- .col -->
							<div class="col post-item">
								<div class="col-inner">
									<a href="su-quyen-ru-cua-ban-dao-son-tra/index.html" class="plain">
										<div class="box box-normal box-text-bottom box-blog-post has-hover">
											<div class="box-image">
												<div class="image-cover" style="padding-top:65%;">
													<img width="300" height="199" src="~/Assets/User/wp-content/uploads/2019/02/ban-dao-son-tra-da-nang-son-tra-dn1-300x199.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-da-nang-son-tra-dn1-300x199.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-da-nang-son-tra-dn1-768x509.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-da-nang-son-tra-dn1-1024x679.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-da-nang-son-tra-dn1-600x398.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-da-nang-son-tra-dn1.jpg 1544w" sizes="(max-width: 300px) 100vw, 300px" />
												</div>
											</div><!-- .box-image -->
											<div class="box-text text-left">
												<div class="box-text-inner blog-post-inner">


													<h5 class="post-title is-large ">Sự quyến rũ của Bán đảo Sơn trà</h5>
													<div class="is-divider"></div>
													<p class="from_the_blog_excerpt ">Từ xa xưa Sơn Trà là một hòn đảo nằm cách đất liền, gồm ba ngọn núi nhô...					</p>



												</div><!-- .box-text-inner -->
											</div><!-- .box-text -->
											<div class="badge absolute top post-date badge-square">
												<div class="badge-inner">
													<span class="post-date-day">12</span><br>
													<span class="post-date-month is-xsmall">Th2</span>
												</div>
											</div>
										</div><!-- .box -->
									</a><!-- .link -->
								</div><!-- .col-inner -->
							</div><!-- .col -->
							<div class="col post-item">
								<div class="col-inner">
									<a href="son-tra-ve-dep-nguyen-so-giua-long-pho-thi/index.html" class="plain">
										<div class="box box-normal box-text-bottom box-blog-post has-hover">
											<div class="box-image">
												<div class="image-cover" style="padding-top:65%;">
													<img width="300" height="225" src="~/Assets/User/wp-content/uploads/2019/02/ban-dao-son-tra-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-300x225.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-768x576.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/02/ban-dao-son-tra-600x450.jpg 600w" sizes="(max-width: 300px) 100vw, 300px" />
												</div>
											</div><!-- .box-image -->
											<div class="box-text text-left">
												<div class="box-text-inner blog-post-inner">


													<h5 class="post-title is-large ">Sơn Trà &#8211; Vẻ đẹp nguyên sơ giữa lòng phố thị</h5>
													<div class="is-divider"></div>
													<p class="from_the_blog_excerpt ">Thiên nhiên kì vĩ Để tới Sơn Trà du khách có thể di chuyển theo nhiều cách, từ...					</p>



												</div><!-- .box-text-inner -->
											</div><!-- .box-text -->
											<div class="badge absolute top post-date badge-square">
												<div class="badge-inner">
													<span class="post-date-day">12</span><br>
													<span class="post-date-month is-xsmall">Th2</span>
												</div>
											</div>
										</div><!-- .box -->
									</a><!-- .link -->
								</div><!-- .col-inner -->
							</div><!-- .col -->
						</div>
					</div>
				</div>

				<style scope="scope">
				</style>
			</div>
		</div><!-- .section-content -->


		<style scope="scope">
			#section_923066053 {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		</style>
	</section>



</div>