@using QLKS.Models
@using QLKS.Services

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.bootstrap4.min.css"/>

</head>
<body style="display:flex; flex-direction: column;">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Quản lý khách sạn</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/NguoiDung/DangNhap">Đăng nhập</a>
                    <a class="dropdown-item" href="/NguoiDung/DoiMatKhau">Thay đổi mật khẩu người dùng</a>
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Thống kê</div>
                        <a class="nav-link" href="/DoanhThu" id="ThongKeDoanhThu">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            Thống kê doanh thu
                        </a>
                        <a class="nav-link" id="ThongKeDatPhong" href="/DoanhThu/DatPhong">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Thống kê số lượng đặt phòng
                        </a>
                        <a class="nav-link" id="ThongKeDichVu" href="/DoanhThu/DichVu">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Thống kê doanh thu dịch vụ
                        </a>

                        <div class="sb-sidenav-menu-heading">Danh mục</div>
                        <a class="nav-link" id="DanhMucLoaiPhong" href="/LoaiPhong/List">
                            <div class="sb-nav-link-icon"><i class="fas fa-archway"></i></div>
                            Loại phòng
                        </a>
                        <a class="nav-link" id="DanhMucPhong" href="/Phong/List">
                            <div class="sb-nav-link-icon"><i class="fas fa-person-booth"></i></div>
                            Phòng
                        </a>
                        <a class="nav-link" id="DanhMucDichVu" href="/DichVu/List">
                            <div class="sb-nav-link-icon"><i class="fas fa-cocktail"></i></div>
                            Dịch vụ
                        </a>
                        <a class="nav-link" id="DanhMucVatTu" href="/VatTu/List">
                            <div class="sb-nav-link-icon"><i class="fas fa-couch"></i></div>
                            Vật tư
                        </a>
                        <a class="nav-link" id="DanhMucKhachHang" href="/KhachHang/List">
                            <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                            Khách hàng
                        </a>

                        <div class="sb-sidenav-menu-heading">Nghiệp vụ</div>
                        <a class="nav-link" id="NghiepVuDatPhong" href="/NghiepVu/DatPhong">
                            <div class="sb-nav-link-icon"><i class="fas fa-arrow-circle-right"></i></div>
                            Đặt phòng
                        </a>
                        <a class="nav-link" id="NghiepVuThuePhong" href="/NghiepVu/ThuePhong">
                            <div class="sb-nav-link-icon"><i class="fas fa-arrow-circle-right"></i></div>
                            Thuê phòng
                        </a>
                        <a class="nav-link" id="NghiepVuTraPhong" href="/NghiepVu/TraPhong">
                            <div class="sb-nav-link-icon"><i class="fas fa-arrow-circle-left"></i></div>
                            Trả phòng
                        </a>
                        <a class="nav-link" id="DanhSachPhongDatTruoc" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                            Danh sách phòng đặt trước
                        </a>
                        <div class="sb-sidenav-menu-heading">Hệ thống</div>
                        <a class="nav-link" id="HeThongNguoiDung" href="/HeThong/NguoiDung">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Quản lý người dùng
                        </a>
                        <a class="nav-link" id="HeThongLichSu" href="/HeThong/LichSu">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Lịch sử hệ thống
                        </a>
                        <div class="sb-sidenav-footer">
                            <div>Phần mềm quản lý khách sạn</div>
                            <div class="small">Trịnh Việt Anh - Hà Thị Kim Biên - Đỗ Đăng Khải</div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.4/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        (function ($) {
            "use strict";

            // Add active state to sidbar nav links
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
                if (this.href === path) {
                    $(this).addClass("active");
                }
            });

            // Toggle the side navigation
            $("#sidebarToggle").on("click", function (e) {
                e.preventDefault();
                $("body").toggleClass("sb-sidenav-toggled");
            });
        })(jQuery);
    </script>
</body>
</html>
